In [18]:
import numpy as np
import pandas as pd

In [19]:
df5 = pd.read_csv('../data/new/5_train.csv')
df5.head()

,ID,08/31/2018 00:00:00,08/31/2018 00:05:00,08/31/2018 00:10:00,08/31/2018 00:15:00,08/31/2018 00:20:00,08/31/2018 00:25:00,08/31/2018 00:30:00,08/31/2018 00:35:00,08/31/2018 00:40:00,...,01/31/2019 23:10:00,01/31/2019 23:15:00,01/31/2019 23:20:00,01/31/2019 23:25:00,01/31/2019 23:30:00,01/31/2019 23:35:00,01/31/2019 23:40:00,01/31/2019 23:45:00,01/31/2019 23:50:00,01/31/2019 23:55:00
0,500010011.0,13.0,14.0,14.0,1.0,2.0,1.0,2.0,2.0,0.0,...,6.0,4.0,1.0,1.0,0.0,2.0,0.0,0.0,1.0,0.0
1,500010012.0,13.0,14.0,14.0,4.0,0.0,0.0,3.0,4.0,3.0,...,1.0,0.0,2.0,2.0,3.0,2.0,1.0,0.0,1.0,0.0
2,500010021.0,13.0,14.0,14.0,3.0,1.0,0.0,1.0,0.0,0.0,...,11.0,11.0,4.0,1.0,0.0,5.0,1.0,4.0,1.0,0.0
3,500010022.0,13.0,14.0,14.0,0.0,0.0,2.0,0.0,1.0,0.0,...,1.0,3.0,5.0,1.0,6.0,1.0,1.0,3.0,3.0,3.0
4,500010031.0,25.0,27.0,28.0,41.0,38.0,37.0,40.0,40.0,40.0,...,33.0,28.0,24.0,26.0,17.0,19.0,24.0,24.0,24.0,18.0

In [20]:
df5.shape

(343, 44353)

In [21]:
df5_na = df5.dropna()
df5_na.shape

(236, 44353)

In [22]:
df5_ts = df5_na.iloc[:, 1:] # (236, 44352)
df5_ts.shape

(236, 44352)

In [23]:
num_roads = df5_ts.shape[0]
raw = []
for i in range(num_roads):
    array = df5_ts.iloc[i]
    max = array.max()
    min = array.min()
    normalized = ((array - min) / (max - min)).tolist()
    raw.append(normalized)
#     raw.append(array.tolist())

In [24]:
interval = 12
sample_len = 144

# num_roads = df5_ts.shape[0]
length = df5_ts.shape[1]
raw_data = []

length / interval

3696.0

In [25]:
for i in range(num_roads):
#     ts = df5_ts.iloc[i].tolist()
    ts = raw[i]
    for j in range(int(length / interval)):
        start = j * interval
        end = start + sample_len
        if len(ts[start:end]) == 144:
            raw_data.append(ts[start:end])
raw_array = np.array(raw_data)

In [26]:
raw_array.shape

(869660, 144)

In [27]:
# 数据量太大了，就取前1w条好了
saved_array = raw_array[:10001]

In [28]:
saved_array[0]

array([13., 14., 14.,  1.,  2.,  1.,  2.,  2.,  0.,  0.,  0.,  3.,  1.,
        2.,  1.,  2.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,
        1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  5.,
        0.,  0.,  1.,  1.,  0.,  0.,  1.,  0.,  1.,  2.,  0.,  1.,  0.,
        1.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  1.,  2.,  0.,
        0.,  2.,  1.,  1.,  1.,  1.,  3.,  6.,  4.,  6.,  3.,  2.,  4.,
        1.,  7., 12.,  8.,  3.,  9.,  4.,  7., 14., 16., 19., 21., 33.,
       11., 23., 13., 27., 10., 21., 16., 19., 34., 20., 21., 22., 29.,
       20., 25., 32., 33., 26., 19., 19., 14., 35., 16., 41., 33., 34.,
       26., 22., 27., 30., 41., 31., 27., 40., 32., 33., 30., 33., 33.,
       27., 26., 19., 34., 38., 30., 39., 41., 36., 35., 42., 46., 30.,
       31.])

In [29]:
df = pd.DataFrame(saved_array)
df.to_csv("/Users/gengyunxin/Documents/项目/traffic_model/giteee/data/finetune_predict_pems_144.csv", index=0, header=0)

### 合并train5和train6中不含nan的行

In [ ]:
df = pd.DataFrame(raw_array)
df.to_csv("/Users/gengyunxin/Documents/项目/traffic_model/giteee/data/finetune_predict_pems_144.csv")